.row
  .col-md-6.offset-md-3
    %h2.fw-bold.text-center Resend confirmation instructions
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .alert.alert-info
        = f.input :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        .actions.mt-3
          = f.submit "Resend confirmation instructions", class: "btn btn-primary"
    = render "devise/shared/links"
