%h1 Posts
%table
  %thead
    %tr
      %th Id
      %th Post User
      %th Body
      %th Remove

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.id
        %td= post.user.username
        %td= post.content
        %td= link_to 'Destroy', post,data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
%br/
= link_to "Back", admins_index_path, class: "button"
