%h1.mb-4 Users
.table-responsive
  %table.table.table-striped.table-hover
    %thead.table-dark
      %tr
        %th Id
        %th Username
        %th Email
        %th Role
        %th Actions

    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.username
          %td= user.email
          %td= user.role
          %td
            = link_to 'Edit Role', edit_user_path(user), class: "btn btn-sm btn-outline-primary"
            = link_to 'Destroy', user, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger"
%br/
= link_to "Back", admins_index_path, class: "btn btn-secondary"
