%h1 Users
%table
  %thead
    %tr
      %th Id
      %th Username
      %th Email
      %th Edit Role
      %th Role
      %th Remove

  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.username
        %td= user.email
        %td= link_to 'Role Edit', edit_user_path(user)
        %td= user.role
        %td= link_to 'Destroy', user,data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
%br/
= link_to "Back", admins_index_path, class: "button"
