.content-desktop
  .grid-x
    .medium-4.cell
      .callout.convo
        %h4 Messages
        - @conversations.each do |conversation|
          = link_to conversation_messages_path(conversation) do
            .grid-x
              .medium-3.cell
                - if conversation.recipient(current_user).avatar.attached?
                  = image_tag @user.avatar.variant(resize_to_fill: [50, 20])
                - else
                  = image_tag ("profilepic.png"), :size => "50x20"
              .medium-9.cell
                %h5= conversation.recipient(current_user).username
                - if conversation.recipient(current_user).updated_at > 5.minutes.ago
                  %h6 Acitve Now
                -else
                  %h6 Active #{time_ago_in_words(conversation.recipient(current_user).updated_at)} ago
    .medium-8.cell
      .callout.msg.blank
        %h4 Click a message to begin
.content-mobile
  %h2 Messages
  - @conversations.each do |conversation|
    = link_to conversation_messages_path(conversation) do
      .callout.convo
        %h4= conversation.recipient(current_user).username
        - if conversation.recipient(current_user).updated_at > 5.minutes.ago
          %h5 Acitve Now
        -else
          %h5 Active #{time_ago_in_words(conversation.recipient(current_user).updated_at)} ago
