.row.g-3
  .col-12.col-lg-4
    .card.h-100
      .card-header
        %h4.mb-0 Messages
      .list-group.list-group-flush.overflow-auto{style: "max-height: 80vh;"}
        - @conversations.each do |conversation|
          = link_to conversation_messages_path(conversation), class: "list-group-item list-group-item-action" do
            .row.align-items-center
              .col-3
                - if conversation.recipient(current_user).avatar.attached?
                  = image_tag conversation.recipient(current_user).avatar.variant(resize_to_fill: [50, 50]), class: "rounded-circle"
                - else
                  = image_tag ("profilepic.png"), size: "50x50", class: "rounded-circle"
              .col-9
                %h6.mb-0
                  = conversation.recipient(current_user).username
                  - if !conversation.unread_message_count(current_user).zero?
                    %span.badge.bg-danger.rounded-pill #{conversation.unread_message_count(current_user)}
                %small
                  - if conversation.recipient(current_user).updated_at > 5.minutes.ago
                    %span.text-success Active Now
                  - else
                    Active #{time_ago_in_words(conversation.recipient(current_user).updated_at)} ago
  .col-12.col-lg-8
    .card.h-100
      .card-header
        %h4.mb-0 Start a new conversation
      .card-body.overflow-auto{style: "max-height: 80vh;"}
        %ul.list-group.list-group-flush
          - @users.each do |user|
            - if (user.following?(current_user) && current_user.following?(user)) && !(Conversation.between(current_user.id,user.id).present?)
              %li.list-group-item
                .row.align-items-center
                  .col-auto
                    - if user.avatar.attached?
                      = image_tag user.avatar.variant(resize_to_fill: [50, 50]), class: "rounded-circle"
                    - else
                      = image_tag ("profilepic.png"), size: "50x50", class: "rounded-circle"
                  .col
                    %h5.mb-0= user.username
                  .col-auto
                    = link_to "Start Conversation", conversations_path(sender_id: current_user.id, receiver_id: user.id), 'data-turbo-method': :post, class: "btn btn-primary btn-sm"
