.row
  .col-md-6.offset-md-3
    %h2.fw-bold.text-center Resend unlock instructions
    = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .alert.alert-info
        = f.input :email, autofocus: true, autocomplete: "email"
        .actions.mt-3
          = f.submit "Resend unlock instructions", class: "btn btn-primary"
    = render "devise/shared/links"
