.row
  .col-md-4
    .card.mb-4
      .card-body
        %h1= @user.username
        = link_to "view my profile", @user, class: "btn btn-outline-primary mb-3"
        - if @user.avatar.attached?
          = image_tag @user.avatar.variant(resize_to_limit: [200, 200]), class: "img-fluid rounded mb-3"
        .stats
          = render 'shared/stats'
        .mt-3
          %b Posts:
          = @user.posts.count
  .col-md-8
    %h3= @title
    - if @users.any?
      .row
        = render @users
