.row.justify-content-center
  .col-12.col-md-8.col-lg-6
    %h2.fw-bold.text-center Forgot your password?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { 'data-turbo-method': :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .alert.alert-info
        = f.input :email, autofocus: true, autocomplete: "email"
        .actions.mt-3
          = f.submit "Send me reset password instructions", class: "btn btn-primary"
    = render "devise/shared/links"
