= simple_form_for @error do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :error, label: "Where is the error?"
    = f.input :description, label: "Give a description of the error", input_html: { rows: 3 }
    = f.input :uploads, as: :file, label: "Upload screenshots or videos", input_html: { multiple: true }

  .form-actions.mt-3
    = f.submit class: "btn btn-primary"
