- if @error.errors.any?
  %h2 The following errors prevented the article from saving:
  %ul
    - @error.errors.full_messages.each do |msg|
      %li= msg
= form_for @error do |f|
  %p
    = f.label :Where_is_the_error?
    = f.text_field :error
  %p
    = f.label :Give_a_description_of_the_error
    = f.text_area :description, rows: 3
  %p
    = f.label :Upload_screenshots_or_videos
    = f.file_field :uploads, multiple: true

  = f.submit class: "button"
