%h1 All Errors
.grid-x
  - @errors.each do |error|
    - if error.site == "social" && error.resolved != true 
      .medium-3.cell
        .callout.errorpad
          %p
            The Error Is =
            = error.error
          %p
            Error Number: 
            = error.id
          %p
            Error reported:
            = time_ago_in_words(error.created_at) 
            ago
            %br/
            = link_to "More info", error_path(error), class: "underline"
            = link_to "Resolved", resolve_path(:updatecall => error.id), data: {confirm: "Are you sure?"}, class: "underline"
