= simple_form_for @about do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    .row
      .col-md-6= f.input :site
      .col-md-6= f.input :title
    = f.input :toppara, label: "Top paragraph"
    = f.input :change, label: "Version"
    .row
      .col-md-4= f.input :list1
      .col-md-4= f.input :list2
      .col-md-4= f.input :list3
    .row
      .col-md-6= f.input :githubtitle, label: "Github Name For link"
      .col-md-6= f.input :linkgithub, label: "Link For Github"
    = f.input :buttom, label: "Bottom"

  .form-actions.mt-3
    = f.submit class: "btn btn-primary"
