.grid-x 
  .medium-2.collum
  .medium-8.collum
    .center
      - @abouts.each do |about|
        - if about.site == "social" and about.hidden == false
          .callout
            %h1= about.title
            %h5= about.toppara
            %h5= about.change
            %h6= about.list1
            %h6= about.list2
            %h6= about.list3
            %p= link_to "#{about.githubtitle}", about.linkgithub, target: :_blank
            %h5= about.buttom