= form_for @room do |f|
  - if f.object.errors.any?
    #error_explanation
      %h2
        = "#{pluralize(f.object.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - f.object.errors.full_messages.each do |message|
          %li
            = message
= form_for @room do |form|
  = form.label :Name_for_new_chat_room
  = form.text_field :name

  = form.label :What_is_this_room_about
  = form.text_field :description

  = form.submit "Create chat room", class: 'button'
