= simple_form_for @room do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, label: "Name for new chat room"
    = f.input :description, label: "What is this room about"

  .form-actions.mt-3
    = f.submit "Create chat room", class: 'btn btn-primary'
