-# Current Chatrooms
= link_to jrooms_path do
  .active
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/people.png")
      .medium-2.cell
        .text-padding-home-icon
          Joined
-# All Chat rooms
= link_to rooms_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/home.png")
      .medium-7.cell
        .text-padding-crosses-icon
          All Chatrooms
-# New Room
= link_to new_room_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/plus.png")
      .medium-5.cell
        .text-padding-cross-icon
          Create Room