.list-group.flex-row.flex-md-column.mb-3.overflow-auto.flex-nowrap
  = link_to room_joined_path, class: "list-group-item list-group-item-action flex-fill text-nowrap" do
    .row.g-0.align-items-center
      .col-auto.me-2
        .icon
          = image_tag("icons/icons8/people.png", size: "24x24")
      .col
        Joined
  = link_to rooms_path, class: "list-group-item list-group-item-action active flex-fill text-nowrap" do
    .row.g-0.align-items-center
      .col-auto.me-2
        .icon
          = image_tag("icons/icons8/home.png", size: "24x24")
      .col
        All Chatrooms
  = link_to new_room_path, class: "list-group-item list-group-item-action flex-fill text-nowrap" do
    .row.g-0.align-items-center
      .col-auto.me-2
        .icon
          = image_tag("icons/icons8/plus.png", size: "24x24")
      .col
        Create Room