= form_for @post do |f|
  - if f.object.errors.any?
    #error_explanation
      %h2
        = "#{pluralize(f.object.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - f.object.errors.full_messages.each do |message|
          %li
            = message
  .field
    %h4 The post
    = f.text_area :content, rows: 3
  %span.picture
    (Picture or Video)
    = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,video/mp4,video/mov,video/webm'
  %br/
  .actions
    = f.submit "Post", class: 'button'
:javascript
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 50) {
      alert('Maximum file size is 50MB. Please choose a smaller file.');
    }
  });
