.grid-x
  .medium-4.cell.space
    .content-desktop
      %h1 Create a post
      = render 'form'
  .medium-8.cell
    %h1 Everyones posts
    - @posts.each do |post|
      .callout
        %h5= post.user.username
        .center
          - if post.picture.attached?
            - if post.picture.image?
              .thumbnail= image_tag post.picture.variant(resize: "200x200")
            - if post.picture.video?
              = video_tag rails_blob_path(post.picture), controls: true, class: "small"

        %h6= post.content
        %h6
          = time_ago_in_words(post.created_at)
          ago
        = link_to 'Comments', post
        = (post.comments.count)
        %br/
        = link_to 'Remove Post', post,data: { "turbo-method": :delete, turbo_confirm: 'Are you sure? You do know this is not comeing back' }, class: "dude" if current_user?(post.user)
        %br/
    %br
