.row.justify-content-center
  .col-12.col-lg-8
    %h3.mb-4
      Comments (#{@post.comments.count})

    .card.mb-4
      .card-body
        = render 'comments/form'

    - @post.comments.each do |comment|
      - if comment.persisted?
        .card.mb-2
          .card-body
            %h6.card-subtitle.mb-2.text-muted= comment.user.username
            %p.card-text= comment.body
            - if current_user == comment.user
              = link_to 'Delete', [comment.post, comment], data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger"

    .mt-4
      = link_to 'Back', posts_path, class: "btn btn-secondary"
