!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= @page_title || 'Lion Social'
    = favicon_link_tag ('favicon.ico')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body.bg-light-orange.d-flex.flex-column.min-vh-100
    = render 'layouts/topbar'
    .container-fluid.p-12.flex-grow-1
      %main
        = render 'layouts/flashmessages'
        = yield
    = render 'layouts/footer'
