!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title= @page_title || 'Lion Social'
    = favicon_link_tag ('favicon.ico')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = render 'layouts/topbar'
    = render 'layouts/flashmessages'
    = render "layouts/announce"
    .grid-container
      .top-bar-padding-bottom 
      = yield
    // = render 'layouts/footer'
